/* .App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

* {
  margin: 0;
  padding: 0;
  font-family: Graphie,serif;
  font-weight: 500;
  font-size: 25px;
  box-sizing: border-box;
  /* background-color: rgb(250, 251, 254); */
}

body {
  background: white;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
  
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  border: 1px solid grey;
  border-radius: 8px;
}

.custom1 {
  transition: background-color 0.8s;
  background-color: #edffec;;
}

.custom1:hover {
  background-color: white;
}
.custom2 {
  transition: background-color 0.8s;
  background-color: #fff1ca;;;
}

.custom2:hover {
  background-color: white;
}
.custom3 {
  transition: background-color 0.8s;
  background-color: #ffeee7;
}

.custom3:hover {
  background-color: white;
}

.custom4 {
  transition: background-color 0.8s;
  background-color: #fff5e7; 
}

.custom4:hover {
  background-color: white;
}

.rectangle {
  background-color: rgb(20, 92, 197);
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: auto;
    padding: 15.5rem 15rem;
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}

.square {
  clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
  background-color: rgb(65, 127, 218);
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 7vw;
  padding-bottom: 19vw;
}

.para{
  padding: 4vw;
    min-width: 0px;
    margin-left: -4vw;
}

/* .footer{
  z-index: -1;
} */

.footer{
  margin-top: -25rem;
  margin-left: 4rem;
}

.hr{
  margin-top: -11rem;
  background-color: white;
  
}

.article{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.header{
  font-size: 80px;
  /* color: white; */
  text-align: center;
}

/* .evolved{
  position: relative;
  bottom: -10rem;
  left: 8rem;
  font-weight: "bold";
} */

.about{
  /* left: -5%; */
  /* position: relative; */
  width: 80%;
}

/* .log{
  overflow: hidden;
  width: 100%;
  padding: 40px 0;
  background: white;
  white-space: nowrap;
  position: relative;
} */

/* .footer-container {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
} */

.footer-image {
  margin-bottom: -25rem;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  /* height: auto; */
  z-index: -1;
  zoom: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.logo {
  height: 60px;
  margin-bottom: 20px;
}

.hr {
  border: none;
  border-top: 2px solid white;
  margin: 20px 0;
}

/* .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
} */

/* .col {
  padding: 0 10px;
  text-align: left;
} */

/* .footer-heading {
  font-weight: bold;
  margin-bottom: 10px;
} */

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  height: 20px;
  margin-right: 10px;
}

/* .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.social-icon {
  height: 30px;
  margin-right: 20px;
  height: 34px;
}

.animate {
  animation: founderAnimation 1s ease-in-out;
}

@keyframes founderAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  

  .footer-image {
    margin-bottom: -34em;
    z-index: -1;
  zoom: 100%;
  }

  .footer-content {
    max-width: 120px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  }
}

.Morning{
  width: 25vw;
  /* height: 30vh; */
  float:right;
  margin-bottom: 5rem;
  /* padding-bottom: 5rem; */
}

.evening{
   border-radius: 8px; width: 100%; font-size: 20px; height: 40px;
}